*{
    margin:0;
    padding:0;
}

p{
    font-family:roboto;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap:14px;
    row-gap:42px;
}

.video{
    
}

.video_thumbnail_section{
    position:relative;

}

.video_thumbnail_section img{
    width:100%;
}

.video_bottom_section{
    display:flex;
    flex-direction:row;
    margin-top:12px;
}

.video_frofile_pic_section{
    width:37px;
    position:relative;
}

.video_frofile_pic_section_img1{
    width:100%;
    border-radius:30px;
    cursor:pointer;
}

.video_content_section{
    flex:1;
    margin-left:14px;
}


.video_title_section{
    font-weight:500;
    font-size:15px;
}


.video_channel_name_section{
    color:gray;
    font-size:13px;
    margin-top:12px;
}


.video_views_ago_section{
    display:flex;
    flex-direction:row;
    color:gray;
    font-size:13px;
    margin-top:5px;
}


.video_views_section{
    margin-right:5px;
}


.video_ago_section{
     margin-left:5px;
}

.profileCard{
    display:flex;
    flex-direction:row;
    align-items:center;
    position:absolute;
    top:45px;
    left:5px;
    z-index:10;
    width:max-content;
    max-width:500px;
    background-color:white;
    padding:10px;
    box-shadow:2px 2px 10px rgba(0,0,0,0.5);
    border-radius:5px;
    opacity:0;
    pointer-events:none;
    transition:opacity 0.5s;
}

.video_frofile_pic_section:hover .profileCard{
    opacity:1;
}

.profileCardProfilePic img{
    width:50px;
    border-radius:25px;
}

.profileCardProfileName{
    font-weight:bold;
    font-size:15px;
}

.profileCardSubscribers{
    color:gray;
    font-size:14px;
}

.profileCardRight{
    margin-left:10px;
    line-height:21px;
}

.videoTime{
    color:white;
    background-color:black;
    position:absolute;
    right:5px;
    bottom:10px;
    padding:3px 4px;
    font-size:13px;
}